.tooltip {
  position: absolute;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
  transform: translate3d(-50%, 20%, 0);
  cursor: pointer;
}

.ant-card-body {
  display: flex;
  justify-content: space-evenly;
}
.ant-list-item-action {
  cursor: pointer;
}
