.tooltip {
  position: absolute;
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}

.ant-card-body {
  display: flex;
  justify-content: space-evenly;
}
.ant-list-item-action {
  cursor: pointer;
}
